@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #FFF;
  cursor: pointer;
}

li {
  list-style: none;
}

canvas {
  display: block;
  position: absolute;
  top: 2000px;
  right: 0px;
}

@media (max-width: 768px) {
  canvas {
    top: 1600px;
  }
}

@media (max-width: 414px) {
  canvas {
    top: 1400px;
  }
}

p {
  font-family: "游ゴシック";
}

.txtl {
  font-size: 28px;
  letter-spacing: 1.5px;
}

@media (max-width: 768px) {
  .txtl {
    font-size: 24px;
  }
}

@media (max-width: 414px) {
  .txtl {
    font-size: 20px;
  }
}

.txtm {
  font-size: 24px;
  letter-spacing: 1.3px;
  color: #f0f8ff;
}

@media (max-width: 768px) {
  .txtm {
    font-size: 20px;
  }
}

@media (max-width: 414px) {
  .txtm {
    font-size: 16px;
  }
}

.txts {
  font-size: 20px;
  letter-spacing: 1.3px;
}

@media (max-width: 768px) {
  .txts {
    font-size: 16px;
  }
}

@media (max-width: 414px) {
  .txts {
    font-size: 14px;
  }
}

.content {
  width: 100%;
  margin: 0 auto;
}

body {
  margin: 0;
}

body .start {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9000;
  text-align: center;
}

body .start p {
  position: fixed;
  left: 50%;
  top: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
  z-index: 9999;
  font-size: 40px;
  color: #0066FF;
  width: 700px;
  text-align: center;
}

@media (max-width: 768px) {
  body .start p {
    font-size: 25px;
    top: 30%;
  }
}

@media (max-width: 414px) {
  body .start p {
    top: 40%;
    font-size: 15px;
  }
}

body header {
  z-index: -1;
}

body header .main {
  background-image: url(img/main.png);
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

@media (max-width: 768px) {
  body header .main {
    background-position: center;
    height: 968px;
  }
}

@media (max-width: 414px) {
  body header .main {
    height: 100%;
    background-size: cover;
  }
}

body .title {
  position: absolute;
  top: 100px;
  left: 33%;
  width: 35%;
  z-index: 10;
}

@media (max-width: 768px) {
  body .title {
    top: 75px;
  }
}

@media (max-width: 414px) {
  body .title {
    top: 50px;
  }
}

body .title .txtl {
  font-size: 40px;
  font-weight: bold;
  color: #f0f8ff;
  text-align: center;
}

@media (max-width: 768px) {
  body .title .txtl {
    font-size: 30px;
  }
}

@media (max-width: 414px) {
  body .title .txtl {
    font-size: 20px;
  }
}

body .title .title-content {
  width: 100%;
  margin: 0 auto;
}

body .main-header {
  position: absolute;
  top: 27%;
  left: 33%;
  width: 35%;
  z-index: 10;
  top: 200px;
}

@media (max-width: 768px) {
  body .main-header {
    top: 150px;
  }
}

@media (max-width: 414px) {
  body .main-header {
    top: 100px;
  }
}

body .main-header .gb-nav {
  border-top: 1px solid #6b6b6b;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

body .main-header .gb-nav .bar-nav {
  float: left;
  width: 49%;
  line-height: 46px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

@media (max-width: 768px) {
  body .main-header .gb-nav .bar-nav {
    font-size: 12px;
  }
}

@media (max-width: 414px) {
  body .main-header .gb-nav .bar-nav {
    font-size: 8px;
  }
}

body .main-header .gb-nav .bar-nav:hover {
  background-color: #FFF;
  display: block !important;
}

body .main-header .gb-nav .bar-nav:hover a {
  color: #808080;
  display: block !important;
  width: 100%;
}

body .picture1 {
  position: absolute;
  top: 350px;
  left: 33%;
  width: 33%;
  height: 450px;
  z-index: 10;
}

@media (max-width: 768px) {
  body .picture1 {
    top: 300px;
  }
}

@media (max-width: 414px) {
  body .picture1 {
    top: 230px;
    width: 200px;
    height: 125px;
  }
}

body .picture1 img {
  width: 100%;
}

body .picture1 .picture1-content {
  width: 100%;
  margin: 0 auto;
}

body .title2 {
  position: absolute;
  top: 900px;
  left: 41%;
  z-index: 10;
}

@media (max-width: 768px) {
  body .title2 {
    top: 800px;
  }
}

@media (max-width: 414px) {
  body .title2 {
    top: 650px;
  }
}

body .title2 .txtl {
  font-size: 30px;
  font-weight: bold;
  color: #f0f8ff;
}

body .Intro {
  position: absolute;
  top: 1000px;
  right: 33%;
  width: 33%;
  height: 270px;
  z-index: 10;
}

body .Intro p {
  color: #f0f8ff;
}

@media (max-width: 768px) {
  body .Intro {
    top: 900px;
    width: 73%;
    right: 13%;
  }
}

@media (max-width: 414px) {
  body .Intro {
    top: 800px;
    width: 93%;
    right: 9%;
    height: 180px;
  }
}

body .Intro iframe {
  width: 100%;
}

body .maintopic {
  position: absolute;
  top: 1500px;
  left: 25%;
  width: 50%;
  z-index: 10;
}

@media (max-width: 768px) {
  body .maintopic {
    top: 1380px;
    font-size: 23px;
  }
}

@media (max-width: 414px) {
  body .maintopic {
    top: 1150px;
    font-size: 15px;
  }
}

body .maintopic .description {
  font-size: 23px;
  font-weight: bold;
  color: #f0f8ff;
  width: 100%;
  text-align: center;
}

@media (max-width: 768px) {
  body .maintopic .description {
    font-size: 12px;
  }
}

@media (max-width: 414px) {
  body .maintopic .description {
    font-size: 8px;
  }
}

body #wrap {
  width: 90%;
  max-width: 1400px;
  min-width: 1024px;
  margin: 0 auto;
  text-align: left;
  overflow: hidden;
  background-image: url(img/main.png);
  background-size: cover;
}

@media (max-width: 768px) {
  body #wrap {
    min-width: 550px;
  }
}

body #wrap .blog-header {
  width: 84%;
  margin: 0 auto;
}

body #wrap .blog-header h1 {
  max-width: 660px;
  margin: 20px auto;
  text-align: center;
  font-size: 22px;
  font-size: 40px;
  font-weight: bold;
  color: #f0f8ff;
}

@media (max-width: 768px) {
  body #wrap .blog-header h1 {
    font-size: 30px;
  }
}

@media (max-width: 414px) {
  body #wrap .blog-header h1 {
    font-size: 20px;
  }
}

body #wrap .blog-header .blog-nav {
  border-top: 1px solid #6b6b6b;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

body #wrap .blog-header .blog-nav .blog-bar-nav {
  float: left;
  width: 49%;
  line-height: 46px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

@media (max-width: 768px) {
  body #wrap .blog-header .blog-nav .blog-bar-nav {
    font-size: 12px;
  }
}

@media (max-width: 414px) {
  body #wrap .blog-header .blog-nav .blog-bar-nav {
    font-size: 8px;
  }
}

body #wrap .blog-header .blog-nav .blog-bar-nav:hover {
  background-color: #FFF;
  display: block !important;
}

body #wrap .blog-header .blog-nav .blog-bar-nav:hover a {
  color: #808080;
  display: block !important;
  width: 100%;
}

body #wrap .blog-main {
  padding-top: 140px;
}

body #wrap .blog-main .blog-content {
  width: 98%;
  margin: 0 auto;
}

body #wrap .blog-main .blog-content .blog-mask {
  background: rgba(255, 255, 255, 0.5);
  height: 100%;
}

body #wrap .blog-main .blog-content .blog-mask .blog-container {
  width: 85%;
  margin: 0 auto;
  padding: 35px 0;
}

body #wrap .blog-main .blog-content .blog-mask .blog-container .chapter {
  height: 130px;
}

body #wrap .blog-main .blog-content .blog-mask .blog-container a {
  color: #6b6b6b;
  font-size: 30px;
}

body #wrap .blog-main .blog-content .blog-title {
  text-align: center !important;
  color: #000;
  font-size: 2.5em;
  margin: 20px auto;
  color: #136308;
}
/*# sourceMappingURL=style.css.map */