*{
    box-sizing: border-box;
}

$ipad:768px;
$i7:414px;

@mixin ipad{
    @media (max-width:($ipad)){
        @content;
    }
}
@mixin i7{
    @media (max-width:($i7)){
        @content;
    }
}

a{
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

li{
    list-style: none;
}

p{
    font-family: "游ゴシック";
}

.txtl{
    font-size: 28px;
    letter-spacing: 1.5px;
    @include ipad{
        font-size: 24px;
    }
    @include i7{
        font-size: 20px;
    }
}

.txtm{
    font-size: 24px;
    letter-spacing: 1.3px;
    color: #f0f8ff;
    @include ipad{
        font-size: 20px;
    }
    @include i7{
        font-size: 16px;
    }
}

.txts{
    font-size: 20px;
    letter-spacing: 1.3px;
    @include ipad{
        font-size: 16px;
    }
    @include i7{
        font-size: 14px;
    }
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.thumbnail{
    border: none;
    padding: 0;
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border 0.2s ease-in-out;
    -o-transition: border 0.2s ease-in-out;
    transition: border 0.2s ease-in-out;
}

.thumbnail a {
    position: relative;
    display: table;
    width: 100%;
    height: 100px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}


hr{
    border-top: 1px solid limegreen;
}


body{
    // background-image: url(img/main.png);
    // background-size: cover;
    // width: 100%;
    // height: 100%;
    margin: 0;
    
    .fixedBack{
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
        background-image: url(img/main.png);
        background-size: cover;
        width: 100%;
        height: 100%;

        @include ipad{
            background-position: center;
            height:968px;
        }
        @include i7{
            height: 100%;
            background-size: cover;
        }
    }

    header{
        // background-color: #fff;
        // opacity: 0.7;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1000;



        .container:after, .row:after{
            clear: both;
        }

        .container:after, .container:before{
            content: " ";
            display: table;
        }

        h1{
            margin: 0;
        }

        .logo{
            width: 100%;
        }        

        p{
            margin-top: 35px;
            font-family: "A-OTF-ShinGoPro-Regular";
            font-size: 26px;
            color: rgb(54, 53, 53);
            font-weight: bold;
        }

        .nav-bg{
            background: #7cfc00;
            margin-top: 0;
            padding-top: 5px;
            padding-bottom: 5px;

            .navbar-nav{
                flex-direction: row;

                a{
                    color: #fff;
                    font-size: 15px;
                    letter-spacing: 1px;
                    font-family: sans-serif;
                    font-weight: 600;
                }

                li{
                    margin-right: 60px;
                }
            }
        }

        .nav>li{
            position: relative;
            display: block;
        }

        .nav:before, .nav:after, .row:before, .row:after{
            content: "";
            display: table;
        }

    }
    main{
        margin-top: 144px;
        
        #topicsMain{
            background: #fff;
            opacity: 0.9;
        }

        .wrap{
            background: #fff;
            opacity: 0.9;

            h2{
                padding: 0 40px;
                margin-top: 35px;
            }
            .thumbnail{
                margin-top: 30px;

                a{
                    width: 100%;
                    height: 600px;
                }
            }
        }

        aside{

            h4{
                text-align: center;
                padding-top: 50px;
            }

            div{
                margin-top: 35px;
                background: #fff;
                opacity: 0.7;
            }
        } 

        .archive{
            margin-bottom: 40px;
            height: 1200px;

            ul{
                margin-top: 40px;

                li{
                    border-top: dotted 1px limegreen;
                    font-size: 17px;

                    a{
                        color: #7B7B7B;
                        line-height: 55px;
                        padding-left: 20px;
                    }
                }
            }
        }
    }

    .topicsMain{

    }


}